ul,li{
    display:inline;
    margin:0;
    padding:0;
    
}
body{
    margin:0;
    font-family:monospace;
    font-weight: bold;
}
nav{
    box-sizing: border-box;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
    
}
a{
    text-decoration:none;
    color:black;
    
}
ul{

    flex:1.5;
    max-width: 40%;
    display: flex;
    justify-content: space-evenly;
}
.button{
    padding:0.5em 0.75em;   
    border:1px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);

}
.button:hover {
    border-radius: 0.15em;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.4);
    color: black;
    
  }

@media (max-width:768px){
    nav,ul{
        flex-direction: column;
        align-items: center;

    }

}

@media (max-width:576px){

}